<section class="py-12 mx-8 mt-[6em]">
    <div class="text-center">
      <h2 class="text-5xl font-bold text-black">New Collection</h2>
      <p class="text-sm mt-4">Discover our latest arrivals and get ready to upgrade your wardrobe.</p>
    </div>
    
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      @for (product of products; track product._id) {
        <app-product-card [routerLink]="['/product', product._id]" [product]="product"></app-product-card>
      } @empty {
        <div class="item flex items-center w-full">
          <ngx-skeleton-loader class="flex flex-row gap-x-3" [theme]="{ width: '29em', height: '32em' }" animation="pulse" appearance="line" count="3" />
        </div>
      }      
      <!-- Repeat the above product item code for the remaining 5 products -->
      
    </div>
</section>