<nav class="bg-white">
  <div class="max-w-full px-4 sm:px-6 lg:px-8">
    <div class="flex flex-row px-4 sm:pl-0 items-center justify-between h-16">
      <!-- Left side links -->
      <!-- <div class="flex"> -->
        <div class="hidden md:flex space-x-4">
          <a
            href="#"
            class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
            >Men</a
          >
          <a
            href="#"
            class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
            >Women</a
          >
          <a
            href="#"
            class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
            >Kids</a
          >
          <a
            href="#"
            class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
            >Featured</a
          >
          <a
            href="#"
            class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
            >Summer</a
          >
        </div>
      <!-- </div> -->

      <!-- Centered brand logo or name -->
      <div class="flex flex-grow-0 md:flex-grow justify-center">
        <a href="#" class="text-black text-2xl bungee-regular">Enigma</a>
      </div>

      <!-- Right side container -->
      <div class="flex flex-row items-center gap-x-3">
        <a
          href="#"
          class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
        >
            <img class="w-[25px] h-[25px]" [src]="searchIcon" alt="An icon of a magnifying glass">
        </a>
        <a
          routerLink="/cart"
          routerLinkActive="active" 
          class="text-black hover:bg-gray-300 hover:text-black px-1 py-1 rounded-md text-sm font-medium"
        >
            <img class="w-[25px] h-[25px]" [src]="bagIcon" alt="An icon of a bag">
        </a>
        <a href="#" class="text-black hover:bg-gray-300 px-1 py-1 rounded-md">Login</a>
      </div>
    </div>
  </div>
</nav>
