<div class="w-full min-h-svh">
    <div class="container mx-[2em]">
        <div class="flex w-full flex-row justify-between">
          <!-- Left Container -->
          <div class="w-2/3">
            <div class="mb-4 w-full h-[30em] flex justify-center items-center bg-gray-300 rounded-md">
              <img src="assets/images/product-details-image-1.png" alt="Product Image" class="w-full h-full object-contain">
            </div>
            <div class="flex">
              <!-- Product Images Container -->
              <div class="flex">
                <div class="mr-2 cursor-pointer">
                  <img src="assets/images/product-details-image-1.png" alt="Product Image" class="w-32 h-32 rounded-md">
                </div>
                <div class="mr-2 cursor-pointer">
                  <img src="assets/images/product-details-image-2.png" alt="Product Image" class="w-32 h-32 rounded-md">
                </div>
                <div class="mr-2 cursor-pointer">
                    <img src="assets/images/product-details-image-3.png" alt="Product Image" class="w-32 h-32 rounded-md">
                  </div>
                  <div class="mr-2 cursor-pointer">
                    <img src="assets/images/product-details-image-4.png" alt="Product Image" class="w-32 h-32 rounded-md">
                  </div>
                  <div class="mr-2 cursor-pointer">
                    <img src="assets/images/product-details-image-5.png" alt="Product Image" class="w-32 h-32 rounded-md">
                  </div>
                  <div class="mr-2 cursor-pointer">
                    <img src="assets/images/product-details-image-1.png" alt="Product Image" class="w-32 h-32 rounded-md">
                  </div>
                <!-- Add more product images here -->
              </div>
            </div>
          </div>
      
          <!-- Right Container -->
          <div class="w-1/3">
            <div class="rounded-lg bg-white border-black py-[2em] px-10 mb-4">
              <div class="text-4xl font-semibold">Azure Breeze Men's Sweater</div>
              <div class="flex items-center mt-4">
                <img class="w-5 h-5" src="assets/images/star-icon.png" />
                <span class="text-gray-500 ml-1 font-semibold">(4.7) 4.5k Reviews</span>
              </div>
              <div class="mt-4">
                <del class="text-2xl text-gray-400">$99.99</del>
                <strong class="text-4xl text-black ml-2">$79.99</strong>
              </div>
              <div class="mt-4">
                <div class="text-xl font-semibold">Description</div>
                <p class="mt-1 font-thin text-[17px]">
                    {{ outputDescription }}
                    @if (truncated) {
                        <span (click)="onReadMore()" class="text-md font-semibold cursor-pointer hover:bg-slate-200 rounded-md p-1">
                            Read more
                        </span>
                    } @else {
                        <span (click)="onReadLess()" class="text-md font-semibold cursor-pointer hover:bg-slate-200 rounded-md p-1">
                            Read less
                        </span>
                    }
                </p>
              </div>
              <div class="mt-6">
                <div class="text-xl font-semibold">3 Colors Available</div>
                <div class="flex mt-4 items-center">
                  <div class="w-6 h-6 rounded-full border border-gray-300 mr-2 bg-black cursor-pointer hover:border-gray-700"></div>
                  <div class="w-6 h-6 rounded-full border border-gray-300 mr-2 bg-orange-200 cursor-pointer hover:border-gray-700"></div>
                  <div class="w-6 h-6 rounded-full border-gray-800 border-2 mr-2 bg-blue-200 cursor-pointer hover:border-gray-700"></div>
                  <div class="text-gray-500 font-thin ml-3 mb-1">Sky Blue</div>
                </div>
              </div>
              <div class="mt-8 flex">
                <button class="bg-black rounded-full text-white px-4 py-2 mr-2 w-[50%]">Buy Now</button>
                <button class="bg-white rounded-full border-2 border-black px-4 py-2 w-[50%]">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Recommended Products -->
        <div class="mb-8 mt-[5em]">
          <div class="text-4xl font-semibold mb-4">Recommended Products</div>
          <div class="flex gap-x-3">
            @for (product of products; track product.id) {
                <div routerLink="/product" class="bg-white rounded-lg overflow-hidden cursor-pointer" >
                    <div class="h-[20em] md:h-auto w-full flex justify-center bg-gray-300">
                        <img [src]="product.imageUrl" alt="Hero Image" class="object-fill h-full">
                    </div>
                    <div class="py-4">
                      <h3 class="text-lg font-bold">{{ product.name }}</h3>
                      <p class="text-sm mt-2">{{ product.description }}</p>
                      <p class="text-lg font-bold mt-2">${{ product.price }}</p>
                    </div>
                </div>
              } @empty {
                Empty list of products
              }      
          </div>
        </div>
    </div>
</div>
