<div class="content">
    <app-hero-image></app-hero-image>
    <app-collection-section></app-collection-section>
    <section class="my-[6em]">
        <div class="relative rounded-2xl mx-8">
            <!-- Hero Image -->
            <img src="assets/images/hero-image-2.png" alt="Hero Image" class="w-full object-cover h-[24em] rounded-2xl">
            
            <!-- Overlay -->
            <div class="absolute inset-0 rounded-2xl bg-black opacity-30"></div>
            
            <!-- Text Container -->
        </div>
        <div class="px-8 py-4 text-black w-full flex flex-col items-center">
          <h1 class="text-4xl sm:text-6xl font-bold mb-4">Wear In The Summer</h1>
            <p class="text-md">Discover our latest collection inspired by the beauty of spring.</p>
            <a [routerLink]="['/collection/4']" class="bg-black text-white py-2 px-12 rounded-full mt-5 hover:bg-gray-700">See Details</a>
        </div>
    </section>
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mx-8 mb-[6em]">
        <ng-container *ngIf="collections.length > 0; else emptyCategories">
            <app-category-card *ngFor="let collection of collections.slice(0, 3)" [collection]="collection"></app-category-card>
          </ng-container>
          
          <ng-template #emptyCategories>
            <div class="item flex items-center w-full">
              <ngx-skeleton-loader class="flex flex-row gap-x-3" [theme]="{ width: '29em', height: '32em' }" animation="pulse" appearance="line" count="3" />
            </div>
          </ng-template>
    </section>
</div>